@font-face {
    font-family: 'MyFont';
    src:  url('../fonts/dejavu-sans-webfont.ttf') format('truetype');
}
.hello {
    color: red;
    font-family: 'MyFont';
    height: 100px;
    width: 100px;
    background: url('../images/image.jpg');
}